- throw_content :title, "Terms and Conditions of waferbaby"
%h2 Boring but necessary
%p By signing up and using waferbaby.com, you...
%ul
  %li ...are old enough to think for yourself.
  %li ...understand that you own everything you post.
  %li ...accept full responsibility for everything you post.
  %li ...may appear more attractive to the opposite sex.
  %li ...agree to respect other people on the site (be nice!).
%p The site's creator, Daniel Bogan...
%ul
  %li ...can randomly delete waferbaby.com without warning, for no apparent reason.
  %li ...reserves the right to change these terms as necessary (highly unlikely, though).
  %li ...can remove people's accounts and/or content if deemed necessary.
  %li ...apologises in advance.