.item.comment{:id => "comment-at-#{@item.created_time}"}
  %h3= link_to_person(@item.person)
  %p.date= link_to_comment(@item, time_ago_in_words(@item.created_at) + " ago.")
  .contents
    = markup(@item.contents)