- unless @comments.length < 1
  %h2 Comments
  %p= "You are viewing the comments left on the post '#{link_to(@comments[0].post.title, url(:post, @comments[0].post), :title => "View '#{h(@comments[0].post.title)}'.")}'."
  - @comments.each do |@item|
    = partial :comment
- else
  %h2 Aw, I'm sorry!
  %p There's no comments here.