- throw_content :title, "The Setup on waferbaby"
- throw_content :uuid, "36531197-803a-4461-91ac-d1a5678b851f"
- throw_content :url, "/setup"
- throw_content :author, "waferbaby"
- throw_content :updated, @interviews[0].updated_at

- @interviews.each do |@interview|
  = partial :interview