- throw_content :title, "The Setup on waferbaby"
- unless @interviews.length < 1
  - throw_content :feed, "/setup"
  %h2
    The Setup
    - if params["created_year"]
      = "in #{date_title}"
  %p What do people use to get the job done?
  - @interviews.each do |@interview|
    = partial :interview
  = paginate(params[:page] ? params[:page].to_i : 1, @count, :default_css => false) if @count > 1
- else
  %h2 Aw, I'm sorry!
  %p There's no interviews here.