- throw_content :title, "Scrawls on waferbaby"
- throw_content :uuid, "3ad279cc-cd4a-102b-ab26-4f4f9f3117df"
- throw_content :url, "/wallscrawl"
- throw_content :author, "Everyone on waferbaby"
- throw_content :updated, @scrawls[0].updated_at

- @scrawls.each do |@scrawl|
  = partial :scrawl