a {
-webkit-tap-highlight-color: #0099ff;
}

body {
-webkit-text-size-adjust: 250%;
}

div#content {
max-width: 100%;
}

div#header {
border-bottom: solid 20px #0099ff;
}

form span {
display: block;
font-size: 70%;
padding: 0;
}

p.date {
font-size: 80%;
}

h1 {
float: none;
font-size: 200%;
padding: 15px 25px;
border-bottom: solid 1px #333;
}

h1:after {
content: "v5m";
}

h2 {
font-size: 130%;
}

h3 {
font-size: 120%;
}

h4 {
font-size: 110%;
}

img.icon {
width: 80px;
height: 80px;
margin-right: 30px;
}

input[type=password], input[type=text]{
-webkit-border-radius: 10px;
}

label {
width: auto;
margin-top: 10px;
font-size: 80%;
}
 
legend {
font-size: 100%;
}

textarea {
width: 95%;
}

ul.navigation#main {
font-size: 75%;
padding: 25px;
margin: 0;
}

ul.navigation#person {
position: absolute;
top: 10px;
right: 0;
padding: 0;
margin: 40px 20px;
font-size: 70%;
}