a {
color: #0099ff;
text-decoration: none;
}

a:hover, p.date a:hover {
background-color: #0099ff;
color: #fff;
}

body {
padding: 0;
margin: 0;
background-color: #fff;
color: #000;
font-family: sans-serif;
font-size: 14px;
}

code {
background-color: #eee;
font-size: 90%;
}

div#comments {
margin-top: 30px;
font-size: 90%;
}

div#comments img.icon {
width: 35px;
height: 35px;
}

div#content {
clear: left;
min-width: 200px;
max-width: 500px;
padding: 15px 40px;
}

div#header {
float: left;
width: 100%;
background-color: #000;
color: #aaa;
border-bottom: solid 10px #0099ff;
}

div.item {
clear: both;
padding: 15px 0;
border-top: solid 1px #eee;
}

div.paginated {
padding-top: 10px;
border-top: solid 1px #ddd;
}

div.paginated > a {
font-size: 120%;
}

div.paginated ul {
list-style: none inside;
display: inline;
padding: 0 10px;
margin: 0;
color: #aaa;
}

div.paginated ul li {
display: inline;
padding: 0 2px;
}

div.paginated ul li.current_page {
color: #000;
font-weight: bold;
}

fieldset {
border: 0;
padding: 10px 0;
margin: 0 0 20px 0;
}

form {
padding: 30px;
margin: 15px 0;
background-color: #f1f1f1;
color: #222;
}

form span {
color: #888;
padding-left: 10px;
font-size: 90%;
}

form#editor textarea {
height: 300px;
}

h1 {
float: left;
padding: 15px;
margin: 0;
color: #0099ff;
font-size: 200%;
font-weight: normal;
}

h1:after {
content: "v5";
font-size: 40%;
color: #555;
}

h2 {
padding: 0 0 5px 0;
margin: 10px 0;
text-transform: uppercase;
color: #222;
border-bottom: solid 1px #ddd;
font-size: 130%;
}

h2 + h3, h2 + div.item {
padding-top: 10px;
border-top: 0;
}

h2 + p {
margin-bottom: 20px;
}

h3 {
padding: 0;
margin: 0;
color: #000;
font-size: 150%;
}

img {
border: 0;
}

img.icon {
float: left;
margin: 0 15px 10px 0;
}

input[type=password], input[type=text] {
margin: 2px 0 10px 0;	
}

input[type=checkbox] {
float: left;
padding: 0;
margin: 0 10px 0 0;
}

input[type=submit] {
margin: 10px 10px 0 0;
}

label {
display: block;
padding: 5px 0 5px 0;
margin-right: 10px;
}

legend {
text-transform: uppercase;
font-size: 140%;
color: #333;
}

p + div.item {
border-top: 0;
padding-top: 0;
}

p#footer {
clear: left;
padding: 0;
margin: 10px 40px;
color: #888;
font-size: 80%;
}

p.date {
padding: 5px 0 0 0;
margin: 0;
color: #888;
font-size: 100%;
}

p.date a {
color: #999;
}

p.summary {
float: left;
font-size: 85%;
}

cite {
font-size: 85%;
color: #666;
}

textarea {
width: 100%;
height: 120px;
border: solid 1px #aaa;
}

ul {
padding: 5px 30px;
font-size: 80%;
}

ul li {
padding: 5px 0;
}

ul#message {
list-style: none inside;
}

ul.errors {
list-style: none inside;
padding: 15px;
margin-bottom: 20px;
background-color: #fdda96;
font-size: 110%;
}

ul.navigation {
list-style: none inside;
padding: 0;
margin: 24px 20px 0 0;
text-transform: uppercase;
color: #222;
font-size: 80%;
}

ul.navigation:hover {
color: #999;
}

ul.navigation li {
display: inline;
padding: 0;
margin: 0;
}

ul.navigation li a {
display: inline;
text-align: center;
color: #fff;
padding: 5px;
}

ul.navigation li:before {
content: "/ ";
}

ul.navigation li:first-child:before {
content: "";
}

ul.navigation#main {
float: left;
font-size: 100%;
}

ul.navigation#person {
text-align: right;
text-transform: none;
font-size: 90%;
}

#message {
padding: 15px;
margin-bottom: 20px;
background-color: #fdda96;
border: solid 1px #c9ad78;
font-size: 110%;
}