- unless @posts.length < 1
  - throw_content :atom_feed, "/posts"
  %h2
    Ramblings
    - if params["created_year"]
      = "from #{date_title}"
  - @posts.each do |@post|
    = partial :post
- else
  %h2 Aw, I'm sorry!
  %p There are no posts here.